*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

*.dll
*.class
*.csv
OCR_PerfTesting/src/ocr_data/
*.webp
*.jpg
*.jpeg
*.png
OCR_PerfTesting/bin/
*.log
*.txt
*.xml
OCR_AutoTest/src/ocr_data/
OCR_AutoTest/bin/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
